.panelContainer:hover {
    border: 4px solid #d2d3d4;
    border-radius: 6px;
}
.panelContainer {
    border: 4px solid #f8f9fa;
    border-radius: 6px;
}
.panelContainer:active {
    box-shadow: 0px 0px 8px 1px #cccecf;
}

.inside_panel {
    height: calc(100% - 30px);
    width: 100%;
    overflow:scroll;
}

.react-draggable {
    position: absolute!important;
}